<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-gb" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div class="vc_row element-row row vc_custom_1478727859541">
		<div class="wpb_column vc_column_container vc_col-sm-12">
			<div class="wpb_wrapper">
				<div class="fw-section hb-fw-599b22a654ae9 without-border no-overlay light-style"
				style="background-color:#106470;
				background-image:url(https://github.com/Cambridge-Digital-Library/Crowdsourcing/_Resources/CUDL-GitHub-Banner.jpg);
				background-size:cover;
				padding-top:40px;
				padding-bottom:100px;">
					<div class="row fw-content-wrap">
						<div class="col-12 nbm">
							<div id="learning-automated-div" style="text-align: center; font-size: 48px;
							line-height: 52px; padding: 100px 5px 10px 5px;">
							<span style="color:#FFFFFF;">Alone in a crowd; transcribing together</span></div>
							<div style="text-align: center; font-size: 18px; line-height: 22px; padding: 0 5px 40px 5px;">
							<span style="color:#FFFFFF;">A crowd-sourcing project by Cambridge Digital Library undertaken during the University of Cambridge's closure period due to the Coronavirus outbreak in 2020</span></div>
							<div style="text-align: center;">
							<table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
							 <tbody>
							  <tr>
							   <td><a href="https://github.com/Cambridge-Digital-Library/Crowdsourcing/_posts/About.md">
							    <span style="color:#91B9A4;">
							     <span style="font-size:28px;">About</span></span></a></td>
							      <td><a href="https://github.com/Cambridge-Digital-Library/Crowdsourcing/_posts/account-set-up.md">
							       <span style="color:#91B9A4;">
							        <span style="font-size:28px;">Getting Started</span></span></a></td>
							         </tr>
							        </tbody>
							    </table>
							</div>
						</div>
					</div>
				<div class="video-overlay no-overlay">$nbsp;</div></div>
			</div>
		</div>
	</div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
