body{font-family: Myriad Pro, Arial, Helvetica, sans-serif;text-align: left;}
h1 {font-size: 48px; color: #696969;}
h2 {font-size: 30px; color: #303030; border-style: none, none, solid, none; border-width: 2px; border-color: #BEBEBE}  
p {font-size: 18px; color: #303030;}
img {max-width: 100%; height: auto; border:2px solid #F5F5F5;}
div {max-width: 600px; margin: auto; padding: 10px; box-sizing: border-box;}

a:link {color: inherit; text-decoration: underline;}
a:visited {color: inherit; text-decoration: underline;}
a:hover {filter: inverted;} 
a:active {filter: inverted;}
  
.header {background-color: #106470; color: #F5F5F5; padding: 15px 20%; text-align: center;}
.content {background-color: #ffffff; padding: 30px 10%;}
.footer {background-color: #303030; color: #F5F5F5; padding: 15px 20%; text-align: center;}
.button {border-radius: 10px; background-color:#F5F5F5; color:#101010; padding: 14px 25px; text-align:center; text-decoration:none; display:inline-block;} a:hover, a:active {background-color:#91B9A4;}
.normal {filter: invert(0%);}
.inverted {filter: invert(100%);}
  
@media (max-width: 600px) 
