* {box-sizing: border-box;}
body{font-family: Myriad Pro, Arial, Helvetica, sans-serif;text-align: left;}
h1 {font-size: 30px; text-align: left; color: #696969;}
h2 {font-size: 24px; color: #303030; text-align: left; border-style: none, none, solid, none; border-width: 2px; border-color: #BEBEBE}  
p {font-size: 18px; line-height:20px; color: #303030;text-align: left;}
img {max-width: 100%; height: auto; border:1px solid #F5F5F5;}
div {padding: 10px;}
ul {list-style-type: circle; color: #303030}

a:link {color: inherit; text-decoration: underline;}
a:visited {color: inherit; text-decoration: underline;}
a:hover {filter: inverted;} 
a:active {filter: inverted;}
  
.header {background-color: #106470; color: #F5F5F5; text-align: center;}
.content {background-color: #ffffff;border-radius: 10px; text-align: left; margin: 25px 25px 50px;}
.footer {background-color: #303030; color: #F5F5F5; text-align: center;}
.button {border-radius: 10px; background-color:#F5F5F5; color:#101010; padding: 14px 25px; text-align:center; text-decoration:none; display:inline-block;} a:hover, a:active {background-color:#91B9A4;}
.normal {filter: invert(0%);}
.inverted {filter: invert(100%);}
  
@media (max-width: 600px) 
